form {
  border: 2px solid black;
  width: 40%;
  margin: auto;
  padding: 1vw;
}

input {
  font-size: 1.3vw;
  padding: .3vw;
}

button {
  background-color: black;
  color: white;
  font-size: 1.3vw;
  margin-left: .5vw;
  border: none;
  padding: .3vw;
}
